@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');

$font-sans: 'Karla', sans-serif;
$font-serif: 'Markazi Text', serif;
$main-clr-1: #495E57;
$main-clr-2: #F4CE14;
$secondary-clr-1: #FBDABB;
$secondary-clr-2: #EE9972;
$highlight-clr-1: #333333;
$highlight-clr-2: #EDEFEE;

