@import './var';

main {
  .specials {
    max-width: 960px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  h1 {
    color: $main-clr-1;
  }
  .specials_items {
    margin-top: 40px;
    width: 100%;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .testimonials {
    background-color: $secondary-clr-1;
    padding: 90px 10px;
    h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
    .testmonials_wrapper {
      max-width: 960px;
      padding: 10px;
      margin: auto;
      display: flex;
      gap: 10px;
    }
  }
  .about {
    max-width: 960px;
    margin: 150px auto;
    padding: 40px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    h2 {
      color: $main-clr-1;
      margin-bottom: 20px;
    }
    p {
      font-family: $font-sans;
      font-weight: 300;
      font-size: 18px;
      max-width: 350px;
      line-height: 150%;

    }
    .container {
      width: calc(50% - 10px);
    }
    .img {
      position: relative;
      width: 50%;
    }
    img {
      position: absolute;
      max-width: 280px;
      height: 400px;
      object-fit: cover;
      &:first-child {
        left: 0;
        top: 70px;
        z-index: 1;
      }
      &:nth-child(2) {
        right: 0;
        top: -50px;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    .testimonials {
      .testmonials_wrapper {
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .about {
      margin: 100px auto;
      h1 {
        font-size: 55px;
      }
      img {
        max-width: 200px;
        height: 300px;
        &:first-child {
          top: 50px;
          z-index: 1;
        }
        &:nth-child(2) {
          top: -30px;
        }
      }
    }
  }
}


@media (max-width: 576px) {
  main {
    .specials {
      h1 {
        font-size: 45px;
        text-align: center;
        width: 100%;
      }
      .btn {
        width: 100%;
      }
    }
    .about {
      text-align: center;
      p {
        margin: auto;
      }
      .container {
        width: 100%;
      }
      .img {
        display: none;
      }
    }
  }
}